




<button {{action 'openModal' 'modal'}} class="button">Default Button</button>
 
{{#each}} 
<div class="row roster-player-row">
    <div class="small-2 columns player-image-list">
        <div class="circle-image" style="background-image: url('{{unbound imageUrl}}')"></div>

    </div>
    <div class="small-8 columns">
        <div class="row">
            <div class="small-12 columns player-name">
                {{unbound displayStat}} {{unbound firstName}}  {{unbound lastName}}
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="progress">
                    <span class="meter" style="width: {{unbound tradeValuePercent}}%"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns potentialColor">
                {{#each potentialStars}}
                <i {{bind-attr class=":fa isFullStar:fa-star:fa-star-half-o color" }}></i>
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns salary">
                {{unbound salaryString}}
                {{#each salaryYears}}
                <i class="fa fa-circle-o {{unbound salaryClass}}"></i>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="small-2 columns link-arrow">
        <i class="fa fa-chevron-right"></i>
    </div>
</div>
{{/each}}
