<div id="myModal" class="reveal-modal tiny" data-reveal="">


  <ul>
    <li>
      <button {{action 'sortProp' 'overall'}}>Overall</button>
    </li>
    <li>
      <button {{action 'sortProp' 'potential'}}>Potential</button>
    </li>
    <li>
      <button {{action 'sortProp' 'salary'}}>Salary</button>
    </li>
    <li>
      <button {{action 'sortProp' 'age'}}>Age</button>
    </li>
    <li>
      <button {{action 'sortProp' 'tradeValue'}}>Value</button>
    </li>
    <li>
      <button {{action 'sortProp' 'position'}}>Position</button>
    </li>

  </ul>



  <a {{action 'closeThisModal'}}class="close-reveal-modal">&#215;</a>
</div>