<div class="col-xs-4">
  {{#link-to 'player' player}}
  <span class="first-name text">
    {{unbound player.firstName}}
  </span>
  <span class="last-name">
    {{unbound player.lastName}} 
  </span>
  <span class="position-tick">
    {{unbound player.position}}
  </span>
  {{/link-to}}
</div>

<div {{bind-attr class=":col-xs-1 sortOverall:highlight"}}>
  {{unbound player.overall}}
</div>

<div {{bind-attr class=":col-xs-1 player-age sortAge:highlight"}}>
  {{unbound player.age}}
</div>

<div {{bind-attr class=":col-xs-2 :potentialColor sortPotential:highlight"}}>
  <i {{bind-attr class=":fa :fa-star player.potentialColorString" }}></i>
  {{unbound player.potential}}
</div>

<div {{bind-attr class=":col-xs-2 sortSalary:highlight"}}>
  ${{unbound player.salarySmall}}
</div>


<div {{bind-attr class=":col-xs-2 sortTradeValue:highlight"}}>
  <div class="progress">
    <div class="progress-bar" role="progressbar" {{bind-attr style="player.tradeValuePercent" aria-valuenow="unbound player.tradeValue" }} aria-valuemin="0" aria-valuemax="1000">
    </div>
  </div>
</div>






























