<div class="row player-row header roster-seperator">
  <div class="col-xs-4">{{header}}</div>
  <div class="col-xs-1" {{action 'sortProperty' "overall" }}>
    <i class="fa fa-trophy"> </i>
    <span class="text">Ovr</span>
    {{#if sortOverall}}
    <i class="fa fa-caret-down"></i>
    {{/if}}
  </div>


  <div class="col-xs-1" {{action 'sortProperty' "age" }}>

    <i class="fa fa-clock-o"></i>
    <span class="text">Age</span>
    {{#if sortAge}}
    <i class="fa fa-caret-down"> </i>
    {{/if}}
  </div>


  <div class="col-xs-2" {{action 'sortProperty' "potential" }}>
    <i class="fa fa-star-half-o"></i>
    <span class="text">Potential</span>
    {{#if sortPotential}}
    <i class="fa fa-caret-down"> </i>
    {{/if}}
  </div>




  <div class="col-xs-2" {{action 'sortProperty' "salary" }}>
    <i class="fa fa-usd"> </i>
    <span class="text">Salary</span>
    {{#if sortSalary}}
    <i class="fa fa-caret-down"> </i>
    {{/if}}
  </div>


  <div class="col-xs-2" {{action 'sortProperty' "tradeValue" }}>
    <i class="fa fa-thumbs-o-up"> </i>
    <span class="text">Value</span>
    {{#if sortTradeValue}}
    <i class="fa fa-caret-down"> </i>
    {{/if}}
  </div>
</div>

  

{{#each player in roster }}


{{player-listitem player=player
sortAge = sortAge
sortOverall = sortOverall
sortPotential = sortPotential
sortTradeValue = sortTradeValue
sortSalary = sortSalary}}

{{/each}}

