<div class="row player-row header">
  <div class="col-xs-4">Name</div>
  
  <div class="col-xs-1 visible-lg visible-md" {{action 'sortRating' "handEye" }}>
    HandEye
    {{#if sortHandEye}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "handEye" }}>
    HE
  </div>

  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "speed" }}>Speed</span>
    {{#if sortSpeed}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "speed" }}>
    SPD
  </div>

  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "passing" }}>Passing</span>
    {{#if sortPassing}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "passing" }}>
    PAS
  </div>

  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "faceoffs" }}>Faceoffs</span>
    {{#if sortFaceoffs}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "faceoffs" }}>
    FO
  </div>



  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "deking" }}>Deking</span>
    {{#if sortDeking}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "deking" }}>
    DK
  </div>


  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "wristShotPower" }}>Wrist Pwr</span>
    {{#if sortWristPower}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "wristShotPower" }}>
    WSP
  </div>


  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "wristShotAccuracy" }}>Wrist Acc</span>
    {{#if sortWristAcc}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "wristShotAccuracy" }}>
    WSA
  </div>


  <div class="col-xs-1 visible-lg visible-md">
    <span {{action 'sortRating' "puckControl" }}>Puck Control</span>
    {{#if sortPuckControl}}
    <i class="fa fa-chevron-down"></i>
    {{/if}}
  </div>
  <div class="col-xs-1 hidden-lg hidden-md" {{action 'sortRating' "puckControl" }}>
    PC
  </div>
  
</div>
<div class="row">
  <div class="col-xs-12 roster-seperator">
    Forwards
  </div>
</div>
{{#group}}
{{#each player in roster groupedRows=true}}
{{#if player.isForward}}
{{#if player.isOnMainRoster}}
{{player-listitemrating player=player

sortSpeed=sortSpeed
sortPassing=sortPassing
sortHandEye=sortHandEye
sortDeking=sortDeking
sortFaceoffs=sortFaceoffs
sortWristPower=sortWristPower
sortWristAcc=sortWristAcc
sortPuckControl=sortPuckControl}}
{{/if}}
{{/if}}
{{/each}}
{{/group}}






<div class="row">
  <div class="col-xs-12 roster-seperator">
    Defense
  </div>
</div>
{{#group}}
{{#each player in roster groupedRows=true}}
{{#if player.isDefence}}
{{#if player.isOnMainRoster}}
{{player-listitemrating player=player

sortSpeed=sortSpeed
sortPassing=sortPassing
sortHandEye=sortHandEye
sortDeking=sortDeking
sortFaceoffs=sortFaceoffs
sortWristPower=sortWristPower
sortWristAcc=sortWristAcc
sortPuckControl=sortPuckControl}}
{{/if}}
{{/if}}
{{/each}}
{{/group}}

<div class="row">
  <div class="col-xs-12 roster-seperator">
    Goalies
  </div>
</div>
{{#group}}
{{#each player in roster groupedRows=true}}
{{#if player.isGoalie}}
{{#if player.isOnMainRoster}}
{{player-listitemrating player=player

sortSpeed=sortSpeed
sortPassing=sortPassing
sortHandEye=sortHandEye
sortDeking=sortDeking
sortFaceoffs=sortFaceoffs
sortWristPower=sortWristPower
sortWristAcc=sortWristAcc
sortPuckControl=sortPuckControl}}
{{/if}}
{{/if}}
{{/each}}
{{/group}}

<div class="row">
  <div class="col-xs-12 roster-seperator">
    Prospects
  </div>
</div>
{{#group}}
{{#each player in roster groupedRows=true}}
{{#unless player.isOnMainRoster}}
{{player-listitemrating player=player

sortSpeed=sortSpeed
sortPassing=sortPassing
sortHandEye=sortHandEye
sortDeking=sortDeking
sortFaceoffs=sortFaceoffs
sortWristPower=sortWristPower
sortWristAcc=sortWristAcc
sortPuckControl=sortPuckControl}}
{{/unless}}
{{/each}}
{{/group}}