<div class="col-xs-3 hidden-xs hidden-sm name">
  {{unbound player.firstName}} {{unbound player.lastName}}
</div>
<div class="col-xs-3 visible-xs visible-sm name">
  {{unbound player.lastName}}
</div>
<div class="col-xs-2">
  {{unbound player.singleYearStats.goals}}
</div>
<div class="col-xs-2">
  {{unbound player.singleYearStats.assists}}
</div>
<div class="col-xs-2 points">
  {{unbound player.singleYearStats.points}}
</div>
<div class="col-xs-2">
  {{unbound player.singleYearStats.gamesPlayed}}
</div>
<div class="col-xs-1">
  {{unbound player.singleYearStats.minutesPerGameAverage}}
</div>
