<div class="row player-row header">
    <div class="col-xs-3">Name</div>
  
    <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortPoints:highlight"}} {{action 'sortStat' "points" }}>Points</div>
    <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortPoints:highlight"}} {{action 'sortStat' "points" }}>
        P
    </div>
    <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortGoals:highlight"}} {{action 'sortStat' "goals" }}>Goals</div>
    <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortGoals:highlight"}} {{action 'sortStat' "goals" }}>
        G
    </div>
    <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortAssists:highlight"}} {{action 'sortStat' "assists" }}>Assists</div>
    <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortAssists:highlight"}} {{action 'sortStat' "assists" }}>
        A
    </div>
    <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortGames:highlight"}} {{action 'sortStat' "gamesPlayed" }}>Games</div>
    <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortGames:highlight"}} {{action 'sortStat' "gamesPlayed" }}>
        GP
    </div>
    <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortMinutes:highlight"}} {{action 'sortStat' "minutes" }}>Minutes</div>
    <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortMinutes:highlight"}} {{action 'sortStat' "minutes" }}>
        Mins
    </div>
  <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortShotPercent:highlight"}} {{action 'sortStat' "shootingPercentage" }}>Shot%</div>
  <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortShotPercent:highlight"}} {{action 'sortStat' "shootingPercentage" }}>
    SH%
  </div>
  <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortFaceoffPercent:highlight"}} {{action 'sortStat' "faceoffPercentage" }}>Faceoff%</div>
  <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortFaceoffPercent:highlight"}} {{action 'sortStat' "faceoffPercentage" }}>
    FO%
  </div>
  <div {{bind-attr class=":col-xs-1 :visible-lg :visible-md sortPlusMinus:highlight"}} {{action 'sortStat' "plusMinus" }}>PlusMinus</div>
  <div {{bind-attr class=":col-xs-1 :hidden-lg :hidden-md sortPlusMinus:highlight"}} {{action 'sortStat' "plusMinus" }}>
    +/-
  </div>
</div>
<div class="row">
    <div class="col-xs-12 roster-seperator">
        Team
    </div>
</div>
{{#each player in team.roster}}
{{#if player.isOnMainRoster}}
{{#unless player.isGoalie}}
{{player-listitemstat player=player
sortPoints=sortPoints
sortGoals=sortGoals
sortAssists=sortAssists
sortGames=sortGames
sortMinutes=sortMinutes
sortShotPercent=sortShotPercent
sortFaceoffPercent=sortFaceoffPercent
sortPlusMinus=sortPlusMinus}}
{{/unless}}
{{/if}}
{{/each}}

