  {{#if player}}
<div class="row">
    <div class="col-xs-6">
        <div class="image-container picture-border-team">
            <img {{bind-attr src="player.imageUrl" }} />
        </div>
    </div>
    <div class="col-xs-6">
        <h3>Top Rated Player</h3>
        <h4>{{player.firstName}}</h4>
        <h1>{{player.lastName}}</h1>
    </div>
</div>
      {{else}}
      {{app-loader}}
      {{/if}}