
<button {{action sortbyproperty "potential" }}>Pot</button>
<button {{action sortbyproperty "overall" }}>overall</button>
<button {{action sortbyproperty "age" }}>age</button>


<div class="row">
    <div class="small-4 columns">
        Name
    </div>
    <div class="small-2 columns">
        O
    </div>
    <div class="small-3 columns">
        P
    </div>
    <div class="small-3 columns">
        S
    </div>
</div>
<h4>Forwards</h4>
{{#each forwards itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}
<h4>Def</h4>
{{#each defence itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}
<h4>goalies</h4>
        {{#each goalies itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}

<h4>nonroster</h4>
{{#each nonroster itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}


