<div class="button-bar">
    <ul class="button-group">
        <li>
            <button class="tiny" {{action sortbyproperty "potential" }}>PT</button>
        </li>
        <li>
            <button class="tiny" {{action sortbyproperty "overall" }}>OV</button>
        </li>
        <li>
            <button class="tiny" {{action sortbyproperty "age" }}>age</button>
        </li>
        <li>
            <button class="tiny" {{action 'switchRosterView' }}>{{rosterButtonText}}</button>
        </li>
    </ul>
</div>




{{#if shownonroster}}

<div class="row roster-seperator">
    <div class="small-4 columns">
        Non-Roster
    </div>
    {{partial "rosteritemsep"}}
</div>

{{#each nonroster itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}
{{else}}


<div class="row roster-seperator">
    <div class="small-4 columns">
        Forwards
    </div>
    {{partial "rosteritemsep"}}
</div>
{{#each forwards itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}

<div class="row roster-seperator">
    <div class="small-4 columns">
        Defence
    </div>
    {{partial "rosteritemsep"}}
</div>

{{#each defence itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}
<div class="row roster-seperator">
    <div class="small-4 columns">
        Goalies
    </div>
    {{partial "rosteritemsep"}}
</div>
        {{#each goalies itemController="player"}}
            {{partial "rosteritem"}}
        {{/each}}


{{/if}}


