
<button {{action sortByProperty "potential" }}>Pot</button>
<button {{action sortByProperty "overall" }}>overall</button>
<button {{action sortByProperty "age" }}>age</button>


    <ul>

        {{#each iteamController="player"}}

        <li>
            {{#link-to 'player' this}}
            {{unbound firstName}} {{unbound lastName}}
            {{unbound potential}}
            {{/link-to}}
        </li>

        {{/each}}
    </ul>
