<div class="col-md-4">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">{{unbound name}}</div>
        <ul class="list-group">
            <li class="list-group-item">
              {{#link-to 'player' leftD}}
                <h5 class="list-group-item-heading">{{unbound leftD.firstName}} {{unbound leftD.lastName}}</h5>
              {{/link-to}}
                <p class="list-group-item-text">LW, OVR: {{unbound leftD.overall}} Shoots {{unbound leftD.handed}}</p>
            </li>

          <li  class="list-group-item">
            {{#link-to 'player' rightD}}
                <h5 class="list-group-item-heading">{{unbound rightD.firstName}} {{unbound rightD.lastName}}</h5>
            {{/link-to}}
                <p class="list-group-item-text">RW, OVR: {{unbound rightD.overall}} Shoots {{unbound rightD.handed}}</p>
            </li>

        </ul>
    </div>
</div>