<div class="container">




  <div class="row team-row-basic">
    <div {{action "filterConference" "3"}} {{bind-attr class=":small-2 :columns :filterButton allFilter:active"}}>
      <span>All</span>
    </div>
    <div {{action "filterConference" "1"}} {{bind-attr class=":small-2 :columns :filterButton westFilter:active"}}>
      <span>West</span>

    </div>
    <div {{action "filterConference" "2"}} {{bind-attr class=":small-2 :columns :filterButton eastFilter:active"}}>
      <span>East</span>
    </div>



    
    <div {{bind-attr class=":small-1 :columns :filterButton pointsSort:active"}} {{action "sort" "points"}}>
      P
    </div>
    <div {{bind-attr class=":small-1 :columns :filterButton winsSort:active"}} {{action "sort" "wins"}}>
      W
    </div>
    <div {{bind-attr class=":small-1 :columns :filterButton lossesSort:active"}} {{action "sort" "losses"}}>
      L
    </div>


    
    <div {{bind-attr class=":small-1 :columns :filterButton overtimeLossesSort:active"}} {{action "sort" "overtimeLosses"}}>
      OTL
    </div>

    <div {{bind-attr class=":small-1 :columns :filterButton gamesPlayedSort:active"}} {{action "sort" "gamesPlayed"}}>
      GP
    </div>

    <div class="small-1 columns hide-for-small-only filterButton">
      Last 10
    </div>
  </div>
  {{#if isLoaded}}
  {{#each teams}}
  <div {{bind-attr class=":row :team-row idWithUnderscore"}}>
    
    <div class="small-2 columns logo-box">
      {{#link-to "team.stats" this}}
      <img style="width: 39px; height: 39px;" src="{{unbound imageUrl}}"></img>
      {{/link-to}}
    </div>

    <div class="small-4 columns team-name-box">
      {{#link-to "team.stats" this}}
      <h1>{{unbound twitter}}</h1>
      <p>{{unbound teamname}}</p>
      {{/link-to}}
    </div>

    <div {{bind-attr class=":small-1 :columns :team-stat controllers.home.pointsSort:active"}}>
      <span>
        {{unbound points}}
      </span>
    </div>

    <div {{bind-attr class=":small-1 :columns :team-stat controllers.home.winsSort:active"}}>
      <span>
        {{unbound wins}}
      </span>
    </div>



    <div {{bind-attr class=":small-1 :columns :team-stat controllers.home.lossesSort:active"}}>
      <span>
        {{unbound losses}}
      </span>
    </div>
    
    <div {{bind-attr class=":small-1 :columns :team-stat controllers.home.overtimeLossesSort:active"}}>
      <span>
        {{unbound overtimeLosses}}
      </span>
    </div>

    <div {{bind-attr class=":small-1 :columns :team-stat controllers.home.gamesPlayedSort:active"}}>
      <span>
        {{unbound gamesPlayed}}
      </span>
    </div>
    
    <div class="small-1 columns hide-for-small-only team-stat">
      <span>
        {{unbound lastTenRecord}}
      </span>
    </div>







  </div>

  {{/each}}
{{/if}}
</div>