 {{#if leftW}}
    <div class="well well-small" style="display: inline-block">
       LW: {{#linkTo 'player' leftW}} {{leftW.firstName}} {{leftW.lastName}} {{/linkTo}}
        ({{leftW.overall}})
   </div>
   {{/if}}
   {{#if centre}}<div class="well well-small" style="display: inline-block">
   C:  {{#linkTo 'player' centre}} {{centre.firstName}} {{centre.lastName}} {{/linkTo}}
       ({{centre.overall}})
</div>
{{/if}}
{{#if rightW}}
<div class="well well-small" style="display: inline-block">
    RW: {{#linkTo 'player' rightW}} {{rightW.firstName}} {{rightW.lastName}} {{/linkTo}}
    ({{rightW.overall}})
</div>
{{/if}}
{{#if leftD}}<div class="well well-small" style="display: inline-block">
LD:  {{#linkTo 'player' leftD}} {{leftD.firstName}} {{leftD.lastName}}{{/linkTo}}
    ({{leftD.overall}})
</div>
{{/if}}
{{#if rightD}}<div class="well well-small" style="display: inline-block">
RD:  {{#linkTo 'player' rightD}} {{rightD.firstName}} {{rightD.lastName}}{{/linkTo}}
    ({{rightD.overall}})
</div>
{{/if}}
{{#if goalie}}
<div class="well well-small" style="display: inline-block">
   G:  {{#linkTo 'player' goalie}} {{goalie.firstName}} {{goalie.lastName}} {{/linkTo}}
    ({{goalie.overall}})
</div>
{{/if}}