
<div class="col-6">
    <div class="stats-box basicinfo">
        <span class="stats-box-title">Info</span>
        <div class="numberBox">
            <span>Overall</span>
            <div class="numberBoxValueContainer">
                {{playeroverall overall}}
            </div>
        </div>
        <div class="numberBox">
            <span>Potential</span>
            <div class="numberBoxValueContainer">
                {{playerpotential potential potentialColor}}
            </div>
        </div>
        <div class="numberBox">
            <span>Age</span>
            <div class="numberBoxValueContainer">
                {{playerage age}}
            </div>
        </div>

        <div class="numberBox">
            <span>Position</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{position}}</span>
            </div>
        </div>

        <div class="numberBox">
            <span>Shoots</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{handed}}</span>
            </div>
        </div>
    </div>
</div>