




<div class="row">
    <div class="medium-8 small-12 columns">
        <button {{action 'toggleTest'}}>test</button>
        <button {{action 'toggleTestAgain' }}>salaries</button>
        {{#if showLineup}}
            {{partial "lineup"}}
        {{/if}}

        {{#if showRoster}}
            {{partial "roster"}}
        {{/if}}

        {{#if showSalaries}}
            {{partial "salaries"}}
        {{/if}}
        
    </div>




    <div class="medium-4 small-12 columns player-details-container">
        outlet 
        {{outlet}}
    </div>

</div>






