<div class="container">
    {{#if compareLoaded}}

    <div class="row">
        <div class="col-xs-6">
            {{render "playerprofile" aPlayer}}
        </div>
        <div class="col-xs-6">
            {{render "playerprofile" bPlayer}}
        </div>
    </div>

    <div class="row">
        <div class="hidden-lg">
            {{aPlayer.lastName}}
        </div>
        {{render "playerbasicinfobox" aPlayer}}
        <div class="hidden-lg">
            {{bPlayer.lastName}}
        </div>
        {{render "playerbasicinfobox" bPlayer}}
    </div>
    <div class="row">
        <div class="hidden-lg">
            {{aPlayer.lastName}}
        </div>
        {{render "playercontractbox" aPlayer}}
        <div class="hidden-lg">
            {{bPlayer.lastName}}
        </div>
        {{render "playercontractbox" bPlayer}}
    </div>

    {{#each pr in aPlayer.playerRates}}
    {{#if pr.rating}}
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <p class="text-center">{{pr.name}}</p>
            {{compare pr}}
        </div>
    </div>
    {{/if}}
    {{/each}}

    {{else}}

    <div class="loader">
        <div class="duo duo1">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
        <div class="duo duo2">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
    </div>


    {{/if}}

</div>